[Desktop Entry]
Name=Firewall Builder
Comment=Design and Manage Firewall Rules
Icon=fwbuilder
Categories=System;Settings;Security;Qt;
Exec=fwbuilder
Type=Application
StartupNotify=true
Terminal=false
