<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>

        <key>CFBundleDocumentTypes</key>
          <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>fwb</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>@ICON@</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/xml</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Firewall Builder Object File</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>

            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>fwl</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>@ICON@</string>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/xml</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Firewall Builder Library File</string>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSIsAppleDefaultForType</key>
                <true/>
            </dict>

          </array>

	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>NOTE</key>
	<string>Please, do NOT change this file -- It was generated by Qt/QMake.</string>
</dict>
</plist>
