core
*.a
*.o
*.so*
*.log
*.status
*.guess
*.sub
*.cache
*.m4
*.fw
*.conf
*.app
!src/gui/FwbuilderInfo.plist
*.dylib
*.spec
*.control
*.nsi
build_num
test/ipt/secuwall-1
Makefile
!test/*/Makefile
install*
!src/res/configlets/*/install*
ltmain.sh
configure
libtool
qmake.inc
.obj
.moc
.ui
qtdbus_test
qrc_MainRes.cpp
fwb_iosacl
fwb_nxosacl
fwb_ipf
fwb_ipfw
fwb_ipt
fwb_pf
fwb_pix
fwb_procurve_acl
fwb_junosacl
transfer_secuwall
.configure_marker
.build_marker
src/unit_tests/*/*Test
src/unit_tests/*/*Tests
src/unit_tests/*/*.output
src/unit_tests/generatedScriptTests*/generatedScriptTests*
src/unit_tests/generatedScriptTestsSecuwall/ref.*
src/unit_tests/generatedScriptTestsSecuwall/secuwall-1/
src/unit_tests/generatedScriptTestsSecuwall/secuwall-2/
*.pro.user
src/libfwbuilder/etc/fwbuilder.dtd
src/res/objects_init.xml
src/res/templates.xml
default/
debug/
release/
*.qbs.user
build/
CMakeLists.txt.user
